<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.kyrenesjtv.albertadmin.dao.RoleMapper">

    <select id="getPermissionByUserId" resultType="java.lang.String">
      select distinct gf.address
      from global_function gf
      left join global_role_function grf on grf.functionId = gf.id
      left join global_roleuser gru on gru.roleId = grf.roleId
      where gru.userId = #{userId}
    </select>

</mapper>